
body {   font-family: "Helvetica", "Arial", sans-serif;
  color: #555;
  font-weight: 100;
  margin: 0!important;
}
h1,
h2,
strong {
  color: #333;
}
/* Styles go here */
.container{
  margin: 0 auto;
}
.wrapper{
  background: #e6e6e6;
  padding-top: 120px;
}
.masonry-brick{
  margin: 10px;
  border-radius: 2px;
  max-width: 280px;
  background: white;
  transition: ease-in-out .2s;
}

.masonry-brick:hover{
  box-shadow: 0px 0px 0px 5px yellow;
  cursor: pointer;
}
.image{
  width: 280px;
  max-height: 600px;
  border-bottom: solid 1px #555;
}
.caption{
  position: relative;
}

.footer{
  padding: 15px;
  padding-top: 0px;
}
.imgTxt{
  position: absolute;
  bottom: 30px;
  left: 0;
  color: white;
  font: bold 24px Helvetica, Sans-Serif;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
}

.loading{
  background: #555;
  height: 20px;
}
.abstract{
  padding: 10px;
  font-family:"Times New Roman", sans-serif;
  border-left: solid 6px grey;
  background-color: #e6e6e6;

}
/* Nav Bar */

ul {
  border-bottom: solid 1px black;
  z-index: 999;
  list-style-type: none;
  overflow: hidden;
  background: lightblue;
  margin: 0;
  width: 98%;
  position: fixed;
}

.items{
  float: right;
  display: block;
  text-align: center;
  padding: 28px 40px 28px 0px;
}
li a  {
  text-decoration: none;
  color:#3498DB;

}
nav {
  font-size: 20px;
  text-align: right;
}
#logo a{
  float: left;
  color: black;
  margin-top: 2%;
}
/* End nav bar */